.main-study-view {
   padding: 0 24px;
   background: #E7ECF9;

   & .main-study-flex {
      display: grid;
      grid-template-columns: 335px auto;
      margin-top: 20px;
   }

   & .study-layout-left {

      & .title {
         text-align: center;
         font-weight: 600;
         font-size: 30px;
         line-height: 45px;
         color: #1d1d1d;
      }

      & .showQuestion {
         border-radius: 10px;
         box-shadow: 1px 2px 3px 2px #999;
         height: auto;
         width: 300px;
         background: white;

         & .allQuestions {
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: dense;
            place-items: center;
            row-gap: 20px;

            & .btn-question {
               height: 30px;
               width: 30px;
               border-radius: 5px;
               box-sizing: border-box;
               background: #d2caca;
               cursor: pointer;
            }
         }
      }

      & .showAnswer {
         border-radius: 10px;
         box-shadow: 1px 2px 3px 2px #999;
         height: auto;
         width: 300px;
         background: white;

         & .answer-items {
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: dense;
            place-items: center;
            row-gap: 20px;

            & .answer-item {
               width: 30px;
               height: 30px;
               background: #b6b1b1;
               box-sizing: border-box;
               border-radius: 7px;
               cursor: pointer;
            }
         }
         & .result {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            & .correct {
               display: flex;
               padding: auto 0;
               gap: 5px;
               & .btn-correct {
                  background: #357a32;
                  height: 12px;
                  width: 12px;
                  border-radius: 2px;
                  margin: auto 0;
               }
               & .btn-incorrect {
                  background: red;
                  height: 12px;
                  width: 12px;
                  border-radius: 2px;
                  margin: auto 0;
               }
               & .show-correct {
                  font-weight: bold;
               }
            }
         }
         & .completed-review {
            text-decoration: none;
            padding-bottom: 20px;
            cursor: pointer;
            font-size: 18px;
            color: blue;
         }

         & .completed-review:hover {
            text-decoration: underline;
         }
      }
   }

   & .study-layout-right {
      margin-left: 10px;
      margin-right: 10px;
      position: relative;

      & .flash-card-overview {
         position: relative;
         background: #fff;
         padding: 40px;
         border-radius: 15px;
         margin-top: 80px;
         margin-bottom: 90px;
         & .exitPlayGame {
            padding: 10px 20px;
            text-align: right;
            font-size: 30px;
            cursor: pointer;
         }
         & .flash-card-questions {
            max-width: 1116px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;

            & .show-Question {
               text-align: left;
               padding-top: 20px;

               & .question {
                  font-weight: bold;
                  font-size: 20px;
                  padding-bottom: 20px;
               }

               & .answer {
                  margin-top: 15px;
                  display: flex;
                  gap: 5px;
                  font-size: 18px;

                  & .custom-radio {
                     width: 15px;
                     height: 15px;
                     margin-top: 5px;
                     cursor: pointer;
                  }

                  label {
                     cursor: pointer;
                  }
               }
            }
         }

         & .btn-review {
            margin-top: 30px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .btn-prev {
               border: none;
               border-radius: 20px;
               padding: 10px 30px;
               background: #007aff;
               color: white;
               font-weight: bold;
               cursor: pointer;
            }

            & .disable {
               color: rgba(0, 0, 0, 0.25);
               background-color: rgba(0, 0, 0, 0.04);
               cursor: not-allowed;
            }

            & .btn-next {
               border: none;
               border-radius: 20px;
               padding: 10px 30px;
               background: #007aff;
               color: white;
               font-weight: bold;
               cursor: pointer;
            }

            & .btn-submit {
               border: none;
               border-radius: 20px;
               padding: 10px 30px;
               background: #999;
               color: black;
               font-weight: bold;
               cursor: pointer;
            }
         }
      }
   }
}

.link-item {
   text-decoration: none;
}


.mytest {
   font-size: 20px;
   cursor: pointer;
}

.currentQuestion {
   border: 2px solid aqua !important;
}

.answer-item-true {
   background: #357a32 !important;
   color: white;
}
.answer-item-false {
   background: red !important;
   color: white;
}

.borderAnswer {
   border: 3px solid black !important;
}

.selected {
   background: #E7ECF9 !important;
}

.correctAnswer {
   padding-top: 10px;
   color: black;
   font-size: 18px;
   span {
      color: red !important;
   }
}